*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 100px;
    margin-left: 48px;
    text-align:center;
}
#container>div{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition:500ms ease;
    height:500px;
    box-sizing:border-box;
    


}


#container>div:hover{
    cursor:pointer;
    transform:scale(1.1);
}
#container>div>img{
    width:90%;
    height:40%;
    border-radius:10px;
    /* transform:scale(1.1); */
}
